NODE_ENV=production
HOST=0.0.0.0
PORT=1800
APP_URL=http://YOUR_EC2_PUBLIC_IP
MONGO_URI=mongodb+srv://USERNAME:PASSWORD@CLUSTER.mongodb.net/passport-js-auth?retryWrites=true&w=majority
JWT_SECRET=REPLACE_WITH_A_RANDOM_SECRET_AT_LEAST_32_CHARACTERS
JWT_EXPIRES_IN=1h
